---
import Layout from '../layouts/Layout.astro';
import Searchbar from '../components/Searchbar.astro';
---

<Layout title="airbnb">
  <main>
    <Searchbar
      href="https://astro.build/chat/"
      title="Community"
      body="Come say hi to our amazing Discord community. ❤️"
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
