---
import Layout from '../layouts/Layout.astro';
import Searchbar from '../components/Searchbar.astro';
---

<Layout title="airbnb">
  <main>
    <Searchbar />
  </main>
</Layout>

<style>
  main {
    /* font-family:
      Circular,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Helvetica Neue,
      sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }
</style>
